---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../components/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
  <h1 class="text-4xl font-semibold">{post.data.title}</h1>
  <p class="mt-4 text-lg text-zinc-400">
    {new Date(post.data.date).toDateString().slice(4)}
  </p>
  <artile id="md">
    <Content />
  </artile>
</Layout>

<style lang="postcss">
  :global(#md h2) {
    @apply mt-12 text-3xl font-semibold;
  }
  :global(#md h3) {
    @apply mt-8 text-2xl font-medium;
  }
  :global(#md ol) {
    @apply mt-4 list-decimal list-inside;
  }
  :global(#md ul) {
    @apply mt-4 list-disc list-inside;
  }
  :global(#md a) {
    @apply text-blue-500 underline hover:text-black;
  }
  :global(#md > p) {
    @apply mt-4;
  }
  :global(#md .astro-code) {
    @apply !bg-zinc-100 mt-4 overflow-scroll rounded-lg px-4 py-3 !leading-tight;
    scrollbar-width: none;
  }
  :global(#md .astro-code span) {
    @apply !text-sm !text-zinc-600;
  }
</style>
