---
import App from "../../../test-app/src/App";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Test App</title>
        <style>
            body,
            html {
                margin: 0;
                padding: 0;
                height: 100%;
            }
            #app {
                width: 100%;
                height: 100%;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <App client:load />
        </div>
    </body>
</html>
